html {
  background-color: #383c4a;
}

pre {
    background: #333333;
    border: 1px solid #111;
    color: white;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
}

code {
  background: #222222;
  color: white;
}

.App {
  color: white;
}

.App-logo {
  height: 3rem;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.nav-title {
  margin-left: 0.3rem;
  font-size: 1rem;
}

.nav-input {
  background-color: #383c4a;
  color: white;
}

.nav-input::placeholder {
  color: white;
}

.feedrow-box {
  background-color: #383c4a;
  padding: 0.6rem;
  color: white;
}

.FeedRow {
  text-align: left;
  color: white;
}

.FeedList {
  margin: 0.5rem 0 0 0.5rem;
}

.FeedListColumn {
  background-color: #383c4a;
}

.PostRow {
  background-color: white;
  padding: 0.6rem;
}

.PostRowRead {
  background-color: grey;
  padding: 0.6rem;
}

.PostsList {
  margin-top: 0.5rem;
}

.PostsListColumn {
  background-color: #404552;
  height: 100vh;
}

.PostContent {
  color: white;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  color: white;
}

.PostContentColumn {
  background-color: #383c4a;
  font-size: 1.2rem;
}
